.hero-image {
  background-image:url("Computer_Cofee3.jpeg");
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: white;
}
.card{
  align-items: center;
  align-content: center;
  background-color:DeepSkyBlue;
}
.about-text{
  text-align: center;
  position: relative;
  top: 20%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
}
.tile1{
  background-color: White;
  height: 270px;
  width:100%;
}
.education-tile{
  background-color:White;
  height: 450px;
  width:100%;
}
.skills-tile{
  background-color:White;
  height: 1100px;
  width:100%;
}
.hobbies-tile{
  background-color:White;
  height: 300px;
  width:100%;
}
.footer-tile{
  background-color:DeepSkyBlue;
  height: 200px;
  width:100%;
}
.matter{
  top: 50px;
}
.matter2{
  top:80px;
}
.matter3{
  top: 20px;
}
h4{
  font-size:250%;
  font-style: italic;
  color: Navy;
}
p{
  font-family: serif;
}
